<!DOCTYPE html>
<html>
	<head lang="fr">
		<meta charset="UTF-8">
		<title>OPower</title>
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
	</head>
	<body ng-app="opower">
		<h1>Bienvenue sur OPower !</h1>
		<div ng-controller='utilisateurs' ng-init='getListeUtilisateurs()'>
			<ul>
				<li ng-repeat="u in listeUtilisateurs">{{u.prenom}} {{u.nom}} <button ng-click='afficherInfos(u.id)'>Afficher les infos</button></li>
			</ul>
			<button ng-click='getListeUtilisateurs()'>Mettre à jour</button>
		</div>
		<div ng-controller='ajouterUtilisateur'>
			<button ng-click='formOK = true'>Ajouter un utilisateur</button>
			<form ng-show='formOK'>
				Prénom : <input type='text' ng-model="formPrenom"><br>
				Nom : <input type='text' ng-model="formNom"><br>
				Mail : <input type='text' ng-model="formMail"><br>
				
				<!--Amis : <p ng-repeat="u in listeUtilisateurs"><input type='checkbox' name='ami'  value="{{u.id}}">{{u.prenom}} {{u.nom}} </p>-->
				
				<input type='submit' ng-click="poster()" value="Valider">
			</form>
		</div>
		<div ng-controller='infoUtilisateur' ng-show='afficheOK'>
			Prénom : {{utilisateur.prenom}}<br>
			Nom : {{utilisateur.nom}}<br>
			Mail : {{utilisateur.mail}}<br>
			<button ng-click='afficheOK = false'>Cacher</button>
		</div>
		
		<!-- Dependencies -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-resource.min.js"></script>	
		<!-- Pokedex app -->
		<script src="js/opower.js"></script>
	</body>
</html>